<div id="head">
<h1>{{#title}}{{name}}{{/title}}</h1>
</div>
  <div id="head">
      <h1>chupper time</h1>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <nav class="navbar navbar-default" id="navbar">
          <div class="container-fluid" class="navbar-header">
            <a class="navbar-link" href="#">Home</a>
            <a class="navbar-link" href="browse.html">Browse Recipes</a>
            <a class="navbar-link" href="search.html">Search Recipes</a>
            <a class="navbar-link" href="share.html">Share a Recipe</a>
          </div>
        </nav>
      </div>
    </div>
<div id="content">
  <div class="view" id="chuppertime">
    <h2>Words</h2>

    {{#each allRecipes}}
    <h4>{{title}}</h4>
    <p>{{ingredients}}</p>
    <p>{{instructions}}</p>
    <p>{{prepTime}}</p>
    <p>{{method}}</p>

    {{/each}}
  </div>
  <div class="view hide" id="browserecipe">
    <h2>Stuff</h2>
  </div>
  <div class="view hide" id="searchrecipe">
    <h2>Things</h2>
  </div>
  <div class="view hide" id="postrecipe">
    <h2>Shit</h2>
  </div>
</div>
<!--Handlebars.registerHelper("title", function(fn) {
  $('h1').html(fn(this));
  return ""; });-->

